@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #646464;
  --foreground-rough: black;
  --background: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #afafaf;
    --foreground-rough: white;
    --background: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-1rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes spin-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
    transform: rotateZ(-180deg);
  }
}

.slideright {
  animation-name: slide-right;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
}

.spinin {
  animation-name: spin-in;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

.nav-links a {
  transition-duration: 100ms;
  transition-property: background-color;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.nav-links a.active:has(.indicator) {
  color: var(--foreground-rough);
}

.indicator {
  position: relative;
  transform: translateY(10px);
}

.nav-links a.active > .indicator {
  border-bottom: 1px solid var(--foreground-rough);
}

.nav-links a:hover:has(.indicator) {
  background-color: rgb(50, 50, 50);
  color: white;
}

@media not all and (min-width: 640px) {
  .nav-links a:last-child {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .nav-links a {
    transition-property: all;
  }
}

@media not all and (max-width: 640px) {
  .nav-links a.active:has(.indicator) {
    height: 2rem;
  }
}
