@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 100, 100, 100;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --foreground-rgb-rough: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --foreground-rgb: 175, 175, 175;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --foreground-rgb-rough: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-1rem);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideright {
  animation-name: slide-right;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
}

nav a {
  transition-duration: 100ms;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

nav a.active:has(.indicator) {
  color: rgb(var(--foreground-rgb-rough));
  height: 2rem;
}

.indicator {
  position: relative;
  transform: translateY(10px);
}

nav a.active>.indicator {
  border-bottom: 1px solid rgb(var(--foreground-rgb-rough));
}

nav a:hover:has(.indicator) {
  background-color: rgb(50, 50, 50);
  color: white;
}