@import url("reset.scss");

@font-face {
  font-family: "Comfortaa";
  src: url("public/font/Comfortaa-VariableFont_wght.ttf");
}

:root {
  --bg: #1a1917;
  --fg: white;

  --accent: #f9a8d4;
  --accent-dark: #2a2a2a;

  --max-width: 70rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  display: flex;
  flex-direction: column;
  font-family: Comfortaa;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100dvw;
  transition-property: background-color, color;
  transition-duration: 250ms;
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--fg);
    color: var(--bg);
  }
}

a {
  color: var(--accent);
  transition-duration: 200ms;

  &:hover {
    filter: brightness(115%);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--accent-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;

  &:hover {
    background: var(--accent);
  }
}
