:root {
  --bg-color: #191015;
  --fg-color: #ffffff;

  --accent: #e7baf2;
  --accent-dark: #391f3f;

  --max-width: 85rem;
  --transition: 250ms;
}

@import url("reset.scss");

@font-face {
  font-family: "Comfortaa";
  src: url("public/font/Comfortaa.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  display: flex;
  flex-direction: column;
  font-family: Comfortaa;
  height: 100dvh;
  overflow-y: scroll;
  transition-property: background-color, color;
  transition-duration: var(--transition);

  @media (prefers-color-scheme: light) {
    & {
      background-color: var(--fg-color);
      color: var(--bg-color);
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--accent-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;

  &:hover {
    background: var(--accent);
  }
}

a {
  color: var(--accent);
  transition-duration: var(--transition);

  &:hover {
    filter: brightness(115%);
  }
}
